.running-text-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  background-color: white;
  padding: 0px 10px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 2;
  height: 4dvh;
}

.running-text {
  position: absolute;
  display: block;
  padding-left: 50%;
  animation: scrollTextInner 25s linear infinite;
  font-weight: bold;
  color: var(--rose-400);
}

.icon {
  position: absolute;
  right: -10px;
  color: var(--rose-400);
  background-color: white;
  width: 4dvh;
  height: 4dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  animation: shake 3s infinite; 
}

.icon-no-shake {
  position: absolute;
  right: -10px;
  color: var(--rose-400);
  background-color: white;
  width: 4dvh;
  height: 4dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
 
/* Keyframes untuk animasi bergoyang */
@keyframes shake {
  0%, 90% {
    transform: translateX(0); /* Tetap diam */
  }
  92% {
    transform: translateX(-3px); /* Bergeser ke kiri */
  }
  94% {
    transform: translateX(3px); /* Bergeser ke kanan */
  }
  96% {
    transform: translateX(-2px); /* Bergeser ke kiri sedikit */
  }
  98% {
    transform: translateX(2px); /* Bergeser ke kanan sedikit */
  }
  100% {
    transform: translateX(0); /* Kembali ke posisi awal */
  }
}

.running-text:nth-child(2) {
  animation-delay: 0s; /* Delay the second text by half the duration of the animation */
}

@keyframes scrollTextInner {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-150%);
  }
}

.container-button-popup {
  position: absolute;
  bottom: 12px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.button-enabled {
  background-color: var(--skyblue-600);
  /* Tailwind class `bg-sky-600` */
  padding: 0.25rem 1.5rem;
  /* Tailwind classes `px-6 py-1` */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  /* Tailwind class `shadow` */
  font-size: 0.875rem;
  /* Tailwind class `text-sm` */
  border-radius: 0.125rem;
  /* Tailwind class `rounded-sm` */
  color: white;
  /* Tailwind class `text-white` */
  cursor: pointer;
}