.modalmobile {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    text-align: left;
    overflow: auto;
    z-index: 20;
    position: fixed;
    cursor: default;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 0.5s;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
}

.modalmobile#hide {
    transform: translate(-50%, 50%);
    z-index: -100;
    opacity: 0;
    transition: 0.5s;
}

@keyframes slideIn {
    from {
        transform: translate(-50%, 50%);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    padding: 10px 0;
    text-align: center;
}

.content {
    overflow-y: auto;
    max-height: calc(90vh - 80px);
}

.modalmobile .closeButton {
    position: absolute;
    right: .5dvw;
    top: .5dvw;
    transition: 0.5s;
    color: #E11D48;
}

.modalmobile .closeButton:hover {
    cursor: pointer;
    color: pink
}

@media only screen and (min-width: 769px) {
    .modalmobile {
        padding: 1.5dvw 4dvw;
        max-height: 90%;
        max-width: 90%;
        min-width: 50%;
        min-height: 20%;
        border-radius: 15px;
        margin: 1dvh auto;
    }

    .modalmobile .closeButton {
        font-size: 25px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 641px) {
    .modalmobile {
        padding: 1.5dvw 4dvw;
        max-height: 90%;
        max-width: 90%;
        min-width: 50%;
        min-height: 50%;
        border-radius: 10px;
        margin: 1dvh auto;
    }

    .modalmobile .closeButton {
        font-size: 21px;
    }
}

@media only screen and (max-width: 640px) {
    .modalmobile {
        padding: 1.5dvw 4dvw;
        border-radius: 5px;
        min-width: 95%;
        min-height: 30%;
        max-height: 90%;
        max-width: 85%;
    }

    .modalmobile .closeButton {
        font-size: 18px;
    }
}