.container {
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: white;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
    top: 2%;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 0.1s;
    z-index: 200; 
}

.container#hide {
    transform: translate(0%, 50%);
    z-index: -100;
    opacity: 0;
    transition: 0.1s;
    display: none;
}

.container .icon {
    flex: 10%;
    color: var(--green-600);
    font-size: 30px;
}

.container .containerText {
    flex: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
}

@media only screen and (min-width: 769px) {
    .container {
        padding: 1dvw 1dvw;
        max-height: 16%;
        max-width: 30%;
        min-width: 20%;
        min-height: 5%;
        border-radius: 1dvw;
        transform: translate(0%, 0%);
        right: 2%;
    }

    .container .containerText {  
        text-align: center;
        justify-content: start;
        align-items: center;
    }
}

@media only screen and (max-width: 768px) and (min-width: 641px) { 
    .container { 
        padding: 1.5dvw 4dvw;
        left: 50%;
        transform: translate(-50%, 0%);
        max-height: 8%;
        min-height: 5%;
        max-width: 85%;
        min-width: 80%;
        border-radius: 1dvw;
        margin: 1dvh auto;
    }
    .container .containerText {   
        text-align: center;
        justify-content: start;
        align-items: center;
    }
}

@media only screen and (max-width: 640px) { 
    .container { 
        padding: 1.5dvw 4dvw;
        border-radius: 10px;
        min-height: 8%;
        max-height: 10%;
        max-width: 85%;
        min-width: 80%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .container .containerText {  
        text-align: center;
        justify-content: start;
        align-items: center; 
    }
}

.container .containerText .title {
    font-size: 14px;
    color: var(--green-600);
    font-weight: 700;
}

.container .containerText .description {
    font-size: 12px;
    font-weight: 500;
    color: silver;
}

.container .close {
    flex: 10%;
    color: silver;
    font-size: 30px;
    transition: 0.5s;
}

.container .close:hover {
    color: rgb(134, 134, 134);
    cursor: pointer;
}

.loader {
    width: 25px;
    aspect-ratio: 1;
    display: grid;
    border: 2px solid #0000;
    border-radius: 50%;
    border-right-color: #25b09b;
    animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    margin: 1px;
    border: inherit;
    border-radius: 50%;
    animation: l15 2s infinite;
}

.loader::after {
    margin: 4px;
    animation-duration: 3s;
}

@keyframes l15 {
    100% {
        transform: rotate(1turn)
    }
}